<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- COMMON TAGS -->
  <title>{{ .Title }}</title>
  <!-- Search Engine -->
  <meta name="description" content="{{ .Description }}">
  {{ if $.Param "image" }}
  <meta name="image" content="{{ .Site.BaseURL}}{{ $.Param "image" }}">{{ end }}
  {{ with .Keywords }}
  <meta name="keywords" content="{{ range $i, $e := . }}{{ if $i }} {{ end }}{{ $e }}{{ end }}">{{ end }}
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="{{ .Title }}">
  <meta itemprop="description" content="{{ .Description }}">
  {{ if $.Param "image" }}
  <meta itemprop="image" content="{{ .Site.BaseURL}}{{ $.Param "image" }}">{{ end }}
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="{{ .Title }}">
  <meta name="og:description" content="{{ .Description }}">
  {{ if $.Param "image" }}
  <meta name="og:image" content="{{ .Site.BaseURL}}{{ $.Param "image" }}">{{ end }}
  <meta name="og:url" content="{{ .Permalink }}">
  <meta name="og:site_name" content="{{ .Title }}">
  <meta name="og:type" content="article">
  <!-- Open Graph - Article -->
  <meta name="article:tag" content="{{ range .Params.tags }}{{.}} {{end}}">
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style{{ $.Site.Params.style }}.css">
  <link rel="icon" type="image/png" href="https://bochang.me/dice-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="https://bochang.me/dice-32x32.png" sizes="32x32">  
  <script type="application/ld+json">
  {{ if eq .Section "posts" }}
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "headline": {{ .Title }},
    "image": {{ if isset .Params "image" }}{{ .Params.image | absURL }}{{ else }}"https://bochang.me/dice-512x512.png"{{ end }},
    "datePublished": {{ .PublishDate }},
    "dateModified": {{ .Lastmod }},
    "author": {
      "@type": "Person",
      "name": "Bo Chang",
      "url": "https://bochang.me"
    },
    "publisher": {
      "@type": "Organization",
      "name": "Bo's Blog",
      "url": "https://bochang.me/blog",
      "logo": {
        "@type": "ImageObject",
        "url": "https://bochang.me/dice-512x512.png",
        "width": 512,
        "height": 512
      }
    },
    "mainEntityOfPage": { "@type": "WebPage" },
    "description": {{ .Summary | plainify | safeHTML }}
  }
  {{ else }}
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Bo's Blog",
    "url": "https://bochang.me/blog",
    "logo": {
      "@type": "ImageObject",
      "url": "https://bochang.me/dice-512x512.png",
      "width": 512,
      "height": 512
    }
  }
  {{ end }}
  </script>
</head>

<body>
  <header>
    <!-- Homepage Title -->
    <a href="{{ .Site.BaseURL }}" style="float: left;color:#ff3b30;">{{ $.Site.Title }}</a>
    <!-- Navigation Pages -->
    {{ partial "about.html" . }}
    {{ range $i, $e:= $.Site.Params.navigation }}&nbsp;&nbsp;{{ if eq $i 0}}{{else}}{{end}}{{ with $.Site.GetPage "page" . }}<a href="{{ lower .Permalink }}" style="color:#777;">{{ title .Title }}</a>{{ end }}{{ end }}
    <!-- Show RSS feed in the header -->
    <!-- <a href="{{ .Site.BaseURL }}posts/index.xml" style="color:#777;float: right;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a> -->   
  </header>